main{
    border:thin solid black;
    padding: 1em;
    font-family: sans-serif;
}
table.crossword-table {
    border-collapse: collapse;
}
table.crossword-table td{
    width: 2em;
    height: 2em;
    vertical-align: top;
}

table.crossword-table td.white{
    border: thin solid black;
}

table.crossword-table td.black{
    background-color: black;
}

div.crossword-clues{
    border: thin solid red;
    padding: 1em;
    margin: 1em;
}

div.container {
    display: flex;
}