@use "sass:math";
//@import "sudoku.scss";

%dark{
    background-color: lavender;
}

%light {
    background-color: whitesmoke;
}

table.sudoku {
    @for $i from 1 through  9{
        @for $j from 1 through 9{
            $reminder: math.floor(math.div(($i - 1),3) % 2) + math.floor(math.div(($j - 1),3) % 2);
            tr:nth-child(#{$i}) > td:nth-child(#{$j}){
                @if ($reminder == 0){
                    @extend %dark;
                }
                @else{
                    @extend %light;
                }
            }
        }
    } 
}