pre{
    background-color: red;
    padding: 0.5em;
    counter-reset: line-number;
}
pre > span::before {
    content: counter(line-number);
    counter-increment: line-number;
    border-right: medium solid limegreen;
    text-align: right;
    padding-right: 0.5em;
    padding-left: 0.5em;
}